<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles1.css') }}">
</head>
<body>
    <div class="page">
         <form action="{{ url_for('cadastrar_dados') }}" method="post" class="formLogin">
            {{ form.hidden_tag() }}
            <p>Register</p>
            <label>Name:</label>
            {{ form.name(size=32) }}<br>
            <label>Email:</label>
            {{ form.email(size=32) }}<br>
            <label>Password:</label>
            {{ form.password(size=32) }}<br>
            <label>Confirm Password:</label>
            {{ form.confirmPassword(size=32) }}<br>
            {{ form.submit() }}
            <p><a href="{{ url_for('login') }}">Do you have an account? Click Here</a></p>
        </form>
    </div>
</body>
</html>