<!-- protected.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Page Protected</title>
</head>
<body>
  <h1>Página Protegida</h1>
  <div id="conteudo"></div>

  <script>
    const token = localStorage.getItem('token');
    console.log('Token armazenado:', token);

    fetch('/protected', {
      method: 'GET',
      headers: {
        'Authorization': `Bearer ${token}`
      }
    })
    .then(res => {
      console.log('Status da resposta:', res.status);
      if (!res.ok) throw new Error('Não autorizado');
      return res.json();
    })
    .then(data => {
      document.getElementById('conteudo').textContent = data.mensagem;
    })
    .catch(err => {
      console.error('Erro:', err);
      alert('Acesso negado. Faça login novamente.');
      window.location.href = '/login';
    });
</script>

</body>
</html>
