<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="page">

        <form action="http://127.0.0.1:5000/recuperar-senha"
        method="post" class="formLogin" id="formLogin">
            <p>RECOVER PASSWORD</p>
            <label>Email:</label>
            <input type="email" name="email" required><br>
            <input type="submit" value="SUBMIT">
        </form>
    </div>
     
</body>
</html>