<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password<title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles1.css') }}">
</head>
<body>
    <div class="page">

        <form action="{{ url_for('solicitar_recuperacao_senha') }}" method="post" class="formLogin" id="formLogin">
            {{ form.hidden_tag() }}
            <p>RECOVER PASSWORD</p>
            <label>Email:</label>
            {{ form.email(size=32) }}<br>
            {{ form.submit() }}
        </form>
    </div>
     
</body>
</html>